body {
    width: 1024px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 10px;
    background-image: linear-gradient(to right top, rgb(0, 81, 255), white);
    
}

main {
    background-image: linear-gradient(to right, rgb(0, 81, 255), white, rgb(0, 81, 255));
}

.image {
    display: flex;
    align-items: center;
}

img {
    margin: 10px;
    margin-left: 20px;
    box-shadow: -5px -5px 5px 2px rgb(6, 6, 90);
}

h2 {
    padding-left: 100px;

    margin-bottom: 5px;
}

.line {
    height: 2px;
    background-image: linear-gradient(to right, white, blue);
}

ol {
    padding: 0 100px 20px 100px;
}

li {
    line-height: 30px;
    padding-bottom: 5px;
}

a {
    color: rgb(10, 10, 80);
}

pre {
    margin: 0;
    margin-left: 150px;
    padding: 0;
    text-align: initial;
    line-height: 20px;
    font-size: 16px;
}

